<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH0UR3XRT4jbYAwiPI1thFyV_zIcrYXQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>481628165739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khedmaTech</string>
	<key>PROJECT_ID</key>
	<string>khedma-teck</string>
	<key>STORAGE_BUCKET</key>
	<string>khedma-teck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481628165739:ios:7a396b417f87d5f6a9032e</string>
</dict>
</plist>